In [3]:
# char = input()
# char = input("문자 한개를 입력하세요!!")
# num = int(input())

# char1, char2 = input().split()

# num1, num2 = map(int, input().split())

# year, month, day = map(int, input().split('.'))

# num_list = list(map(int, input().split()))

# name = input()
# age = int(input())
# height = float(input())

# # 1. 포맷 코드
# print("저의 이름은 %s, 나이는 %d, 키는 %.2f" %(name, age, height))      # .2 는 둘째자리까지 반올림이다

# # 2. f-string
# print(f"저의 이름은 {name}, 나이는 {age}, 키는 {height:.2f}")

# # 3. .format()
# print("저의 이름은 {}, 나이는 {}, 키는 {:.2f}" .format(name, age, height))


# string = '문자열'
# integer = 10
# floating_point = 3.14
# a_list = [1, 2, 3, 4, 5]
# dictionary = {'name': '홍길동', 'age': 20}
# a_set = {1, 2, 3, 4, 5}
# a_range = range(11)
# a_tuple = (1, 2, 3)
# boolean = True



# print(type(string))
# print(type(integer))
# print(type(floating_point))
# print(type(a_list))
# print(type(dictionary))
# print(type(a_set))
# print(type(a_range))
# print(type(a_tuple))
# print(type(boolean))



twinkle = '반짝 반짝'
also = '에서도'
star = '작은별'
beautiful = '아름답게 비치네'
east = '동쪽 하늘'
west = '서쪽 하늘'


print(twinkle, star, beautiful)
print(east, also, ' ', west, also, sep='')
print(twinkle, star, beautiful)

반짝 반짝 작은별 아름답게 비치네
동쪽 하늘에서도 서쪽 하늘에서도
반짝 반짝 작은별 아름답게 비치네

In [4]:
# 원주율
Pi = 3.1415926535897932384626433832795028841971693993751058209749445923078164062862089986280348253421170679
# 반지름
half = 15
circumference = Pi * 2 * half
area = half * half * Pi



print('원주율 : ', Pi)
print('반지름 : ', half)
print('원의 둘레 : ', circumference)
print('원의 넓이 : ', area)

원주율 :  3.141592653589793
반지름 :  15
원의 둘레 :  94.24777960769379
원의 넓이 :  706.8583470577034

In [5]:
print(3 * 2)
print(3 ** 2)
print((3 ** 2) // (3 * 2))
print((3 ** 2) % (3 * 2))
print((3 ** 2) + ((-3) ** 2))

x = 3
xby2 = 3 * 2
xdouble = x ** 2
minusxdouble = (-x) ** 2

print(xby2)
print(xdouble)
print(xdouble // xby2)
print(xdouble % xby2)
print(xdouble + minusxdouble)

6
9
1
3
18
6
9
1
3
18

In [8]:
word = 'Hello, Wolrd!'

print(word)  ##

Hello, Wolrd!

In [10]:
# hw_1_4.py
applewithKR = '사과는 영어로 apple'
bananawithKR = '바나나는 영어로 banana'
kiwiwithKR = '키위는 영어로 kiwi'

print(applewithKR)
print(bananawithKR)
print(kiwiwithKR)

사과는 영어로 apple
바나나는 영어로 banana
키위는 영어로 kiwi

In [13]:
n = int(input())  # 입력 받기

s = 0  # 합을 저장할 변수 초기화
c = 1  # 더할 숫자 초기화

while True:
    s += c  # 현재 숫자를 합에 더함
    c += 1  # 다음 숫자로 이동

    if s >= n:
        break  # 합이 입력된 정수보다 크거나 같으면 반복문 종료

print(s)  # 합 출력

66

In [14]:

n = int(input())

for i in range(1, n+1) :
  if i%3==0 :
    continue            #다음 반복 단계로 넘어간다.
  print(i, end=' ')    #i가 짝수가 아닐 때만 실행된다.

1 2 4 5 7 8 10 11

In [17]:
a, d, n = map(int, input().split())

r = a + (d * (n-1))
print(r)

13

In [18]:
a, r, n = map(int, input().split())

result = a * (r ** (n-1))
print(result)

1458

In [19]:
a, m, d, n = map(int, input().split())

result = a * (m ** (n - 1)) + (d * (n - 1))

print(result)

-121

In [27]:
a, m, d, n = map(int, input().split())  # 입력 받기
result = a

for i in range(n-1):
    result = result * (m) + d
    print(result)

print(result)  # n번째 수 출력

-1
3
-5
11
-21
43
-85
-85

In [28]:

a, b, c = map(int, input().split())


d = 1
while d%a!=0 or d%b!=0 or d%c!=0 :
  d += 1
print(d)

63

In [29]:
n = int(input())  # 출석 번호를 부른 횟수 입력
a = list(map(int, input().split()))  # 출석 번호 입력

for i in range(n-1, -1, -1) :
  print(a[i], end=' ')

ValueError: invalid literal for int() with base 10: ''

In [31]:
n = int(input())  # 출석 번호를 부른 횟수 입력
a = list(map(int, input().split()))  # 출석 번호 입력
min = a[0]


for i in range(n-1):
    if min < a[i+1]:
        min = min
    else:
        min = a[i+1]

print(min)

2